/.cache
/dist
/node_modules
/.DS_Store
/.parcel-cache
*/*/.DS_Store

/Client/test
/Client/.cache
/Client/dist
/Client/node_modules
/Client/.DS_Store
/Client/yarn.lock
/Client/package.lock
/Client/yarn-error.log
/Client/.parcel-cache

/Server/.cache
/Server/dist
/Server/node_modules
/Server/.DS_Store
/Server/package.lock
/Server/yarn.lock
/Server/yarn-error.log
/Server/arena.env
/Server/development.env

